# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Valheim.DisplayBepInExInfo.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Projects\C#\Valheim\DisplayBepInExInfo\Valheim.DisplayBepInExInfo\.idea\.idea.Valheim.DisplayBepInExInfo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
